<div class="sidebar">
  <h3>目录</h3>
  {% assign sortedposts = site.posts | sort 'date' 'first'%}
  {% for post in sortedposts %}
    {% if post.categories[0] contains page.categories[0] %}
      <a href="{{ post.url }}"><span class="nav__sub-title">{{ post.title }}</span></a>
    {% endif %}
  {% endfor %}

  <h3>友情链接</h3>
  {% assign friend_links = site.friend_links %}
      {% for friend_link in friend_links %}
        <a href="{{ friend_link.url }}"><span class="nav__sub-title">{{ friend_link.title }}</span></a>
      {% endfor %}
  {% assign friend_links = nil %}
</div>
