<div class="sidebar">
  <h3>分类</h3>
  {% assign categories_list = site.categories %}
      {% for category in categories_list %}
        <a href="/categories/{{ category[0] }}.html"><span class="nav__sub-title">{{ category[0] }} [{{ category[1].size }}]</span></a>
      {% endfor %}
  {% assign categories_list = nil %}

  <h3>友情链接</h3>
  {% assign friend_links = site.friend_links %}
      {% for friend_link in friend_links %}
        <a href="{{ friend_link.url }}"><span class="nav__sub-title">{{ friend_link.title }}</span></a>
      {% endfor %}
  {% assign friend_links = nil %}
</div>
